{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

<div>
	<p>Your system is loaded with the following fonts</p>
	<input type="text" id="user_input" placeholder="Enter Text">
	<button id="submit">Submit</button>	
</div>

{% if fontList %}
    <ul>
    {% for font in fontList %}
        <li>{{ font }} - <span class='spans' style="font-family: {{ font }}">Sample Text</span></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No fonts are available.</p>
{% endif %}

<script type="text/javascript" src="{% static "js/index.js" %}">
</script>